<%- include("../partials/head.ejs", {
  docTitle: "Login | Connect Social Media",
  activeTab: "login"
}) %>

  <form action="/login" method="post" class="mt-5">
    <h1>Login</h1>


    <% if(formErrors.length > 0) { %>
      <% formErrors.forEach(({msg}) => { %> 
        <%- include('../partials/formError.ejs', { msg }) %> 
      <% }) %>
    <% } %>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        name="email"
        id="email"
        value="<%= prevValues.email %>"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input 
        class="form-control" 
        name="password" 
        type="password" 
        id="password" />
    </div>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-primary">Login</button>

    <p class="mt-2">Don't have an account? <a href="/signup">Sign up</a> instead.</p>

  </form>

<%- include("../partials/foot.ejs") %>
