<%- include("../partials/head.ejs", {
  docTitle: "Sign Up | Connect Social Media",
  activeTab: "signup"
}) %>

  <form action="/signup" method="post" class="mt-5">
    <h1>Sign up</h1>

    <% if(formErrors.length > 0) { %>
      <% formErrors.forEach(({msg}) => { %> 
        <%- include('../partials/formError.ejs', { msg }) %> 
      <% }) %>
    <% } %>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        name="email"
        id="email"
        value="<%= prevValues.email %>"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        class="form-control"
        name="username"
        id="username"
        value="<%= prevValues.username %>"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input 
        class="form-control" 
        name="password"
        type="password" 
        id="password" 
      />
    </div>

    <div class="mb-3 form-check">
      <input 
        type="checkbox" 
        class="form-check-input" 
        id="acknowledgement" 
        name="acknowledgement" 
      />
      <label class="form-check-label" for="acknowledgement"
        >I acknowledge this is a students project and although try to prevent them
        there is still an above average chance this site has unkown
        vulnerabilites. I will not put any information into this site that I am
        not willing to make public (including passwords, use a unique and
        unrelated one!)
      </label>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit" class="btn btn-primary">Sign Up</button>

    <p class="mt-2">Already registered? <a href="/login">Login</a> instead.</p>
  </form>

<%- include("../partials/foot.ejs") %>
