<%- include("../partials/head.ejs", {
  docTitle: "New Post | Connect Social Media",
  activeTab: "",
}) %>


<div class="p-4 mt-4 mb-4 bg-light rounded border border-dark">
  <h1>New Post</h1>

  <hr class="my-4" />

  <% if(formErrors.length > 0) { %>
    <% formErrors.forEach(({msg}) => { %> 
      <%- include('../../partials/formError.ejs', { msg }) %> 
    <% }) %>
  <% } %>
  
  <form action="/post" method="post" class="w-100">
    <div class="mb-3">
      <label for="body" class="form-label">Message</label>
      <textarea class="form-control mb-4" id="body" name="body"><%= prevValues.body %></textarea>
    </div>

    <input hidden name="_csrf" value="<%= csrfToken %>" />

    <hr class="my-4" />


    <button class="btn btn-primary">Submit</button>
  </form>


</div>

<%- include("../partials/foot.ejs") %>
